html, body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    height:100%;
    margin: auto;
    background-image: url(../img/clouds.png);
    background-color: whitesmoke;
}

header {
    background-color: lightblue;
    padding: 10px;
    overflow: hidden;
}

.header-content {
    float: left;
}

.header-links {
    float: right;
    margin-top: 60px;
}

.header-links a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-line: none;
    margin-right: 10px;
    background: white;
    padding: 7px;
    border-radius: 5px;
    font-size: small;
}

.logo {
    float: left;
    position: relative;
    margin: 10px;
    margin-right: 25px;
    height:80px;
}

main {
    padding: 20px;
    background-color: white;
    margin: 0px;
    min-height: 83vh;
}

main h1{
    text-align:center;
}

.destinations {
    background: #cae9e99d;

    padding: 5px;
    width: 40%;
}

.destinations ul {
    text-align: left;
}

footer {
    border-top: 1px;
    border-top-style: solid;
    background-color: lightblue;
    padding: 10px;
    margin-left: -20px;
    position: fixed;
    bottom: 0;
    width: 940px;
}

.contact-info{
    padding:10px;
}

.thumbnails {
    background-color:hsl(192, 100%, 94%);
    width:49%;
    float:left;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 190px 190px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top:20px;
    padding-bottom:20px;
}

.big-image {
    background-color:hsl(192, 100%, 94%);
    width:48%;
    float:right;
    border-radius: 10px;
    padding-top:20px;
    height:420px;
}

.big-image img {
    padding-left: 20px;
}

.image{
    margin-left:20px;
    cursor: pointer;
}

#booking-form {
    background-color:hsl(192, 100%, 94%);
    width:49%;
    float:left;
    border-radius: 10px;
    padding-top:20px;
    height:420px;
    position:relative;
}

.booking-h3 {
    color: #555555;
    margin:0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.form-input {
    height:30px;
    width:90%;
    margin-bottom:10px;
    font-size: large;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    margin-left:15px;
}

.booking-buttons{
    position: absolute;
    bottom:0;
    margin-bottom:10px;
    margin-left:55%;
}

#btn-confirm {
    height:30px;
    color:black;
    background-color: lightgreen;
    font-size: 1rem;
    font-weight: 100;
    width:80px;
    border-radius: 10px;
    border:0;
    cursor: pointer;
}

#btn-confirm:disabled{
    background-color: lightgray;
    cursor: default;
}

#btn-clear {
    height:30px;
    color:black;
    background-color: white;
    font-size: 1rem;
    font-weight: 100;
    width:80px;
    border-radius: 10px;
    border:0;
    cursor: pointer;
}

#seat-selector {
    background-color:hsl(192, 100%, 94%);
    width:49%;
    float:right;
    border-radius: 10px;
    padding-top:20px;
    height:420px;
    position: relative;
}

#seats {
    margin-left:20px;
    display:grid;
    grid-template-columns: 50px 50px 50px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-bottom:15px;
    width:36%;
}

#seat-labels{
    margin-left: 20px;
    padding:5px;
    float:left;
    width:30%;
    text-align: left;
    font-size: large;
}

.seat-btn {
    cursor: pointer;
    background-color: lightgreen;
    height:45px;
    width:50px;
    font-size:1.4em;
    border:none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.seat-btn.taken {
    cursor: pointer;
    background-color: lightcoral;
}

.seat-btn.enabled {
    background-color: lightblue;
}

.seat-btn.enabled.taken {
    background-color: red;
}

.ticket{
    text-align:left;
    background-color: white;
    margin:20px;
    padding:10px;
}

@media screen and (max-width:480px) {
    .contact-info{
        background-color:red;
    }
}

 @media screen and (min-width:480px) 
        and (max-width:1024px){
    .contact-info{
        background-color:blue;
    }
 }

 @media screen and (min-width:1024px) {
    .contact-info{
        background-color:green;
    }
}

@media print {
    .contact-info{
        background-color:white;
    }
    .ticket{
        background-color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}